@*
    Incomplete homepage. Should be a page with a logo / title and maybe a slogan
    Should have fun visuals that will make the user curious to look further into the website
*@


@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron-fluid">
    <h1 class="display-4">Welcome To Travel Experts</h1>
    <h4>Register and book your travel package today</h4>
</div>
<body>
<div class="container main-page-content">

    <div class="row mt-5">
            <div class="col col-md-4 img-group">
            <img src="~/images/sunset.jpg" class="col-12 main-img img rounded float-start" />
            <div class="middle-text rounded">
                Sample Text
            </div>
        </div>
        <p class="col-md-7 float-end rounded description">
            Nulla volutpat justo magna, vel ornare libero sagittis at.
            Donec euismod nisl quis ante venenatis, tempus tristique eros finibus.
            Integer posuere nibh et dolor elementum, vitae egestas tellus finibus.
            Vivamus eget rutrum libero. Aenean malesuada efficitur lorem, sed facilisis
            sapien faucibus non. Donec leo eros, cursus congue metus non, dictum lobortis
            ligula. Praesent ac turpis pellentesque, elementum metus eget, mollis ante. 
            Aenean convallis purus in lobortis euismod. Orci varius natoque penatibus et 
            magnis dis parturient montes, nascetur ridiculus mus. Nulla viverra nunc eu
            ligula fringilla, quis iaculis neque venenatis. Phasellus eu imperdiet neque, 
            id molestie arcu. Sed mattis est elit, et fringilla sem feugiat facilisis.
        </p>
    </div>


    <div class=" row mt-5">
            <div class="col-md-6">
            <p class="col-12 float-start description rounded">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue sollicitudin aliquam.
                Nulla eu efficitur est. Sed consectetur, ligula eu laoreet egestas, dui nisl aliquet ex,
                et placerat elit mi a mi. Donec mauris diam, ornare et risus vitae, tempus condimentum dui.
                Donec pellentesque molestie orci, id pretium massa sodales in. Curabitur rhoncus urna elementum
                nisi ultricies posuere. Aliquam erat volutpat. Proin mollis ullamcorper massa vitae bibendum.
            </p>
            @*<div class="col-md-12 img-group">
                <img class="col-12 main-img img rounded" src="~/images/italy.jpg" />
                <div class="middle-text rounded">
                    Sample Text
                </div>
            </div>*@
				
        </div>
            <div class="col col-md-4 img-group">
            <img src="~/images/italy.jpg" class="col-12 main-img img rounded float-end" />
            <div class="middle-text rounded">
                Sample Text
            </div>
        </div>
            
    </div>

        <div class="row mt-5">
            <div class="col col-md-4 img-group">
                <img src="~/images/sunset.jpg" class="col-12 main-img img rounded float-start" />
                <div class="middle-text rounded">
                    Sample Text
                </div>
            </div>
            <p class="col-md-7 float-end rounded description">
                Nulla volutpat justo magna, vel ornare libero sagittis at.
                Donec euismod nisl quis ante venenatis, tempus tristique eros finibus.
                Integer posuere nibh et dolor elementum, vitae egestas tellus finibus.
                Vivamus eget rutrum libero. Aenean malesuada efficitur lorem, sed facilisis
                sapien faucibus non. Donec leo eros, cursus congue metus non, dictum lobortis
                ligula. Praesent ac turpis pellentesque, elementum metus eget, mollis ante.
                Aenean convallis purus in lobortis euismod. Orci varius natoque penatibus et
                magnis dis parturient montes, nascetur ridiculus mus. Nulla viverra nunc eu
                ligula fringilla, quis iaculis neque venenatis. Phasellus eu imperdiet neque,
                id molestie arcu. Sed mattis est elit, et fringilla sem feugiat facilisis.
            </p>
        </div>


</div>
</body>
@*
<script src="~/js/mainbackground.js"></script>*@