@*
    Created by Dreesha
    Displays package options page for potential new customers and registered customers to look at.
*@
@{
    ViewData["Title"] = "Packages";
}

<div class="container-fluid align-content-center">

    <div class="card-deck">
        <h1 style="text-align:center" id="cardTitle">
            Travel Options
        </h1>

        <div class="row align-content-center">
            <div class="col col-2" id="card">
            </div>

            <div class="col col-4" id="card">
                <div class="card">
                    <div class="item">
                        <img src="~/images/carribbean.jpg" class="card-img-top" />
                    </div>
                    <div class="card-body">
                        <h4 class="card-title" id="cardTitle">Carribbean New Year</h4>
                        <p class="card-text" id="cardText">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col col-4" id="card">
                <div class="card">
                        <div class="item">
                
                        <img src="~/images/hawaii.jpg"  class="card-img-top"/>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title" id="cardTitle">Polynesian Paradise</h4>
                        <p class="card-text" id="cardText">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>
            <div class="col col-2" id="card">
            </div>
            <div class="col col-2" id="card">
            </div>
            <div class="col col-4" id="card">
                <div class="card">
                    <div class="item">
                        <img src="~/images/japan.jpg"  class="card-img-top" />
                    </div>
                
                    <div class="card-body">
                        <h4 class="card-title" id="cardTitle">Asian Expedition</h4>
                        <p class="card-text" id="cardText">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    
                    </div>
                </div>
            </div>
            <div class="col col-4" id="card">
                <div class="card">
                    <div class="item">
                        <img src="~/images/greece.jpg"  class="card-img-top" />
                    </div>
                    <div class="card-body">
                        <h4 class="card-title" id="cardTitle">European Vacation</h4>
                        <p class="card-text" id="cardText">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                   
                    </div>
                </div>
            </div>
            <div class="col col-2" id="card">
            </div>

        </div>
    </div>
</div>
