@*
    Unsure if we really need this one. We should leave it in case we do but remove it if it's unused by the end of the project
*@

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
